{% extends 'base.html.twig' %}
{% block title %}Form{% endblock %}
{% block body %}
    <h1>Form for fake upload</h1>
    <form method="POST" action="{{ path('test_upload') }} " enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit" class="btn btn-primary">Upload!</button>
    </form>
    <hr>
{% endblock %}