{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
{% for article in articles %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-title">
    <p class="card-text">{{ article.title }} </p>
  </div>
  <div class="card-body">
    <p class="card-text">{{ article.body }} </p>
  </div>
   <div class="card-body">
    <p class="card-text">{{ article.fileName }} </p>
  </div>
</div>
    
{% endfor %}
{% endblock %}
